// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import "/node_modules/@fortawesome/fontawesome-free/css/all.css";


.formularioLogin{
    flex-direction: column;
    width: 50%;
    margin: 3rem;
}
body{
    width: 80%!important;
}

/* Define colores para los diferentes estados */
.estado-nuevo {
    background-color: #3498db!important; /* azul */
    color: #fff!important; /* texto blanco */
}

.estado-enpreparacion {
    background-color: #f39c12!important; /* naranja */
    color: #fff!important;/* texto blanco */
}

.estado-entregado {
    background-color: #2ecc71!important; /* verde */
    color: #fff!important; /* texto blanco */
}

.estado-cancelado {
    background-color: #e74c3c!important; /* rojo */
    color: #fff!important; /* texto blanco */
}